:root {
	--primaryColor: linear-gradient(
		360deg,
		rgba(116, 126, 249, 1) 0%,
		rgba(153, 164, 251, 1) 100%
	);
}

body {
	font-family: "Poppins", sans-serif;
}

.textContainer {
	background: var(--primaryColor);
	border-radius: 50px 50px 0 0;
}

.textContainer h5 {
	font-weight: 500;
	font-size: 2.5rem;
}

.textContainer p {
	font-weight: 300;
	font-size: 1.2rem;
	color: #e7e7e7;
}

.btnOpen,
.btnInvitation {
	color: #747ef9;
	font-weight: 500;
	padding: 12px 24px;
	border-radius: 8px;
	box-shadow: 0 16px 12px #616efa;
}

.firstSection h5,
.secondSection h5,
.spotifyPlaylist h5 {
	font-weight: 500;
	font-size: 1.3rem;
	color: #000;
}

.firstSection p,
.secondSection p,
.spotifyPlaylist p {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.6;
	text-align: justify;
	color: #909090;
}

.invitationSection {
	background: var(--primaryColor);
	border-radius: 15px;
}

.invitationSection h4 {
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.6;
}

.btnPlaylist {
	color: #fff;
	background: var(--primaryColor);
	font-weight: 500;
	padding: 12px 24px;
	border-radius: 8px;
	box-shadow: 0 12px 16px #cccccc;
}

.btnPlaylist:focus {
	color: #fff;
}

footer p {
	font-weight: 300;
	font-size: 1rem;
	color: #909090;
}

.ic_love {
	color: #747ef9;
}

.btnInvitation:hover {
	color: #747ef9;
}
